:root {
  scroll-behavior: smooth;
  --color-black: #242424;
  --color-white: #f4f4f4;
  --color-quote-text: rgba(244, 244, 244, 0.6);
  --color-border: rgba(244, 244, 244, 0.1);
  --color-text-card: rgba(244, 244, 244, 0.4);
  --color-not-active: rgba(36, 36, 36, 0.6);
  --color-megawhite: #fff;
  font-family: Neue Montreal, sans-serif;
}
/*======================================== FONTS  ==========================================*/
@font-face {
  font-family: 'Neue Montreal';
  src: local('Neue Montreal Medium'), local('Neue-Montreal-Medium'),
    url('../fonts/NeueMontreal-Medium.woff2') format('woff2'),
    url('../fonts/NeueMontreal-Medium.woff') format('woff'),
    url('../fonts/NeueMontreal-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal';
  src: local('Neue Montreal Italic'), local('Neue-Montreal-Italic'),
    url('../fonts/NeueMontreal-Italic.woff2') format('woff2'),
    url('../fonts/NeueMontreal-Italic.woff') format('woff'),
    url('../fonts/NeueMontreal-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Montreal';
  src: local('Neue Montreal Regular'), local('Neue-Montreal-Regular'),
    url('../fonts/NeueMontreal-Regular.woff2') format('woff2'),
    url('../fonts/NeueMontreal-Regular.woff') format('woff'),
    url('../fonts/NeueMontreal-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
/* ================================================================================================= */

body {
  color: var(--color-black);
  background-color: var(--color-white);
  font-size: 14px;
  font-weight: 400;
  font-family: Neue Montreal, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  color: currentColor;
  text-decoration: none;
}
button {
  font-family: inherit;
  cursor: pointer;
  border: none;
}
img {
  display: block;
  max-width: 100%;
}
.visually-hidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 375px;
}
/* =================================== MOBILE ========================================================= */
/* ================================= HEADER =========================================================== */
.header-content {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.burger-icon {
  stroke: var(--color-black);
}
.open-burger {
  background-color: inherit;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ===================================================================================================== */
/* ==================================== HERO =============================================================== */
.hero {
  padding-top: 56px;
  padding-bottom: 20px;
}

.hero-title {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.8px;
  margin-bottom: 20px;
}
.hero-icon {
  display: inline;
  margin-bottom: -4px;
}
.hero-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.28px;
  margin-bottom: 20px;
}
.hero-image {
  border-radius: 30px;
  margin-bottom: 20px;
}
.tags-list-item {
  color: var(--color-black);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  padding: 4px 16px;
  border: 1px solid var(--color-black);
  border-radius: 30px;
}
.tags-list {
  display: flex;
  column-gap: 6px;
}
/* ================================================================================= */
/*====================================== BURGER MENU ========================== */
.burger-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #24242444;
  width: 100vw;
  height: 100vh;
}
.burger-menu {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--color-black);
  width: 56%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.close-burger-btn {
  width: 100%;
  display: flex;
  justify-content: end;
}
.close-burg {
  background-color: inherit;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.burger-menu-link {
  color: var(--color-white);
  font-size: 14px;
  font-weight: 400;
}
.burg-list-menu {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
}
.social-item-icon {
  fill: var(--color-white);
  opacity: 0.8;
  border: 1px solid var(--color-border);
  padding: 8px;
  border-radius: 10px;
}
.burger-social-list {
  display: flex;
  align-items: center;
  column-gap: 12px;
  justify-content: center;
}
/* ============================================================================= */
/* ==================== EXERCISES ========================================================= */
.exercises-title {
  font-family: Neue Montreal;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1.35;
  letter-spacing: -0.035rem;
}
.search-btn-icon {
  fill: var(--color-white);
  stroke: var(--color-black);
}
.search-input {
  padding: 12px 208px 12px 14px;
  width: 100%;
  border-radius: 30px;
  border: 1px solid var(--color-black);
  color: var(--color-black);
  background-color: inherit;
}
.form-search-input {
  position: relative;
  padding-top: 40px;
}
.search-btn {
  position: absolute;
  background-color: inherit;
  top: 60%;
  right: 4%;
}
.nav-exercise {
  display: flex;
  column-gap: 20px;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 28px;
  margin-top: 14px;
}
.nav-exercise-btn {
  color: var(--color-not-active);
  background-color: inherit;
  position: relative;
}

.current {
  color: var(--color-black);
}
.current::after {
  content: '';
  width: 90%;
  background-color: var(--color-black);
  height: 4px;
  position: absolute;
  bottom: -8px;
  left: 5%;
  border-radius: 2px;
}
/* ================== CARDS EXERCISES ======================================== */
.list-all-cards {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.ex-card-item {
  position: relative;
}
.ex-card-text-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  background: linear-gradient(
    0deg,
    rgba(17, 17, 17, 0.5) 0%,
    rgba(17, 17, 17, 0.5) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ex-card-img {
  border-radius: 12px;
  z-index: 4;
  object-fit: cover;
  display: block;
}
.ex-card-title {
  color: var(--color-white);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Neue Montreal;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
}
.ex-card-filter {
  color: var(--color-text-card);
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 12px;
  line-height: 1.5;
}
/* ======================================================================================= */
/* =========================== QUOTE OF THE DAY ========================================== */
.quote-section {
  padding-top: 80px;
  padding-bottom: 80px;
}
.running-icon {
  fill: grey;
}
.wrapper {
  background-color: var(--color-black);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  column-gap: 18px;
  position: relative;
  margin-bottom: 20px;
}
.quote-title {
  color: var(--color-white);
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 6px;
}
.author,
.quote-text {
  color: var(--color-quote-text);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
}
.author {
  color: var(--color-white);
  margin-top: 16px;
}
.inverted-icon {
  position: absolute;
  right: 5%;
}
.quote-image {
  border-radius: 20px;
  margin-bottom: 20px;
}
.gym-icon {
  fill: var(--color-white);
  background-color: var(--color-black);
}
.gym-icon-container {
  padding: 6px;
  background-color: var(--color-black);
  max-width: 32px;
  max-height: 32px;
  border-radius: 80px;
}
.time {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 4px;
}
.text-block-text {
  color: var(--color-not-active);
  margin-bottom: 16px;
}
.text-block-second {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  max-height: 105px;
  overflow: scroll;
  
}
.wrapper-quote {
  display: flex;
  column-gap: 18px;
  padding: 20px;
  background-color: var(--color-megawhite);
  border-radius: 20px;
}
/* =========================================================================================================================== */
/* =================================================================================================================================== */
/*================================================ FOOTER ==================================================== */
.footer {
  padding-bottom: 20px;
  padding-top: 40px;
  background-color: var(--color-black);
}
.footer-logo {
  fill: var(--color-white);
}
.footer-upper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: flex-start;
  margin-bottom: 40px;
}