:root {
  scroll-behavior: smooth;
  --color-black: #242424;
  --color-white: #f4f4f4;
  --color-border: rgba(244, 244, 244, 0.1);
  --color-not-active: rgba(36, 36, 36, 0.60);
  font-family: Neue Montreal, sans-serif;
}
/*======================================== FONTS  ==========================================*/
@font-face {
  font-family: 'Neue Montreal';
  src: local('Neue Montreal Medium'), local('Neue-Montreal-Medium'),
    url('../fonts/NeueMontreal-Medium.woff2') format('woff2'),
    url('../fonts/NeueMontreal-Medium.woff') format('woff'),
    url('../fonts/NeueMontreal-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal';
  src: local('Neue Montreal Italic'), local('Neue-Montreal-Italic'),
    url('../fonts/NeueMontreal-Italic.woff2') format('woff2'),
    url('../fonts/NeueMontreal-Italic.woff') format('woff'),
    url('../fonts/NeueMontreal-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Montreal';
  src: local('Neue Montreal Regular'), local('Neue-Montreal-Regular'),
    url('../fonts/NeueMontreal-Regular.woff2') format('woff2'),
    url('../fonts/NeueMontreal-Regular.woff') format('woff'),
    url('../fonts/NeueMontreal-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
/* ================================================================================================= */

body {
  color: var(--color-black);
  background-color: var(--color-white);
  font-size: 14px;
  font-weight: 400;
  font-family: Neue Montreal, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  color: currentColor;
  text-decoration: none;
}
button {
  font-family: inherit;
  cursor: pointer;
  border: none;
}
img {
  display: block;
  max-width: 100%;
}
.visually-hidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 375px;
}
/* =================================== MOBILE ========================================================= */
/* ================================= HEADER =========================================================== */
.header-content {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.burger-icon {
  stroke: var(--color-black);
}
.open-burger {
  background-color: inherit;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ===================================================================================================== */
/* ==================================== HERO =============================================================== */
.hero {
  padding-top: 56px;
  padding-bottom: 20px;
}

.hero-title {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.8px;
  margin-bottom: 20px;
}
.hero-icon {
  display: inline;
  margin-bottom: -4px;
}
.hero-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.28px;
  margin-bottom: 20px;
}
.hero-image {
  border-radius: 30px;
  margin-bottom: 20px;
}
.tags-list-item {
  color: var(--color-black);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  padding: 4px 16px;
  border: 1px solid var(--color-black);
  border-radius: 30px;
}
.tags-list {
  display: flex;
  column-gap: 6px;
}
/* ================================================================================= */
/*====================================== BURGER MENU ========================== */
.burger-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #24242444;
  width: 100vw;
  height: 100vh;
}
.burger-menu {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--color-black);
  width: 56%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.close-burger-btn {
  width: 100%;
  display: flex;
  justify-content: end;
}
.close-burg {
  background-color: inherit;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.burger-menu-link {
  color: var(--color-white);
  font-size: 14px;
  font-weight: 400;
}
.burg-list-menu {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
}
.social-item-icon {
  fill: var(--color-white);
  opacity: 0.8;
  border: 1px solid var(--color-border);
  padding: 8px;
  border-radius: 10px;
}
.burger-social-list {
  display: flex;
  align-items: center;
  column-gap: 12px;
  justify-content: center;
}
/* ============================================================================= */
/* ==================== EXERCISES ========================================================= */
.exercises-title {
  font-family: Neue Montreal;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1.35;
  letter-spacing: -0.035rem;
  margin-bottom: 2.5rem;
}
.search-btn-icon {
  fill: var(--color-white);
  stroke: var(--color-black);
}
.search-input {
  padding: 12px 208px 12px 14px;
  width: 100%;
  border-radius: 30px;
  border: 1px solid var(--color-black);
  color: var(--color-black);
  background-color: inherit;
}
.form-search-input {
    position: relative;
    margin-bottom: 20px;
}
.search-btn {
    position: absolute;
    background-color: inherit;
    top: 24%;
    right: 4%;
}
.nav-exercise {
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 28px;
}
.nav-exercise-btn {
    color: var(--color-not-active);
    background-color: inherit;
}
.current {
    color: var(--color-black);
}
.current::after {
    content: "";
    width: 100%;
    background-color: var(--color-black);
    height: 4px;
    position: absolute;
    bottom: -1px;
    left: 0;
    border-radius: 2px;
}