:root {
  scroll-behavior: smooth;
  --color-black: #242424;
  --color-white: #f4f4f4;
  --color-quote-text: rgba(244, 244, 244, 0.6);
  --color-border: rgba(244, 244, 244, 0.1);
  --color-text-card: rgba(244, 244, 244, 0.4);
  --color-not-active: rgba(36, 36, 36, 0.6);
  --color-megawhite: #fff;
  --color-footer: #c6cdd1;
  --color-pagination: #d4d4d4;
  font-family: Neue Montreal, sans-serif;
}
/*======================================== FONTS  ==========================================*/
@font-face {
  font-family: 'Neue Montreal';
  src: local('Neue Montreal Medium'), local('Neue-Montreal-Medium'),
    url('../fonts/NeueMontreal-Medium.woff2') format('woff2'),
    url('../fonts/NeueMontreal-Medium.woff') format('woff'),
    url('../fonts/NeueMontreal-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal';
  src: local('Neue Montreal Italic'), local('Neue-Montreal-Italic'),
    url('../fonts/NeueMontreal-Italic.woff2') format('woff2'),
    url('../fonts/NeueMontreal-Italic.woff') format('woff'),
    url('../fonts/NeueMontreal-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Montreal';
  src: local('Neue Montreal Regular'), local('Neue-Montreal-Regular'),
    url('../fonts/NeueMontreal-Regular.woff2') format('woff2'),
    url('../fonts/NeueMontreal-Regular.woff') format('woff'),
    url('../fonts/NeueMontreal-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
/* ================================================================================================= */

body {
  color: var(--color-black);
  background-color: var(--color-white);
  font-size: 14px;
  font-weight: 400;
  font-family: Neue Montreal, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  color: currentColor;
  text-decoration: none;
}
button {
  font-family: inherit;
  cursor: pointer;
  border: none;
}
img {
  display: block;
  max-width: 100%;
}
.visually-hidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 375px;
}
/* =================================== MOBILE ========================================================= */
/* ================================= HEADER =========================================================== */
.header-content {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.burger-icon {
  stroke: var(--color-black);
}
.open-burger {
  background-color: inherit;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ===================================================================================================== */
/* ==================================== HERO =============================================================== */
.hero {
  padding-top: 56px;
  padding-bottom: 20px;
}

.hero-title {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.8px;
  margin-bottom: 20px;
}
.hero-icon {
  display: inline;
  margin-bottom: -4px;
}
.hero-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.28px;
  margin-bottom: 20px;
}
.hero-image {
  border-radius: 30px;
  margin-bottom: 20px;
}
.tags-list-item {
  color: var(--color-black);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  padding: 4px 16px;
  border: 1px solid var(--color-black);
  border-radius: 30px;
}
.tags-list {
  display: flex;
  column-gap: 6px;
}
/* ================================================================================= */
/*====================================== BURGER MENU ========================== */
.burger-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #24242444;
  z-index: 10;
  width: 100vw;
  height: 100vh;
}
.burger-menu {
  position: absolute;
  z-index: 11;
  top: 0;
  right: 0;
  background-color: var(--color-black);
  width: 56%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.close-burger-btn {
  width: 100%;
  display: flex;
  justify-content: end;
}
.close-burg {
  background-color: inherit;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.burger-menu-link {
  color: var(--color-white);
  font-size: 14px;
  font-weight: 400;
}
.burg-list-menu {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
}
.social-item-icon {
  fill: var(--color-white);
  opacity: 0.8;
  border: 1px solid var(--color-border);
  padding: 8px;
  border-radius: 10px;
}
.burger-social-list {
  display: flex;
  align-items: center;
  column-gap: 12px;
  justify-content: center;
}
/* ============================================================================= */
/* ==================== EXERCISES ========================================================= */
.exercises-title {
  font-family: Neue Montreal;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1.35;
  letter-spacing: -0.035rem;
}
.search-btn-icon {
  fill: var(--color-white);
  stroke: var(--color-black);
}
.search-input {
  padding: 12px 208px 12px 14px;
  width: 100%;
  border-radius: 30px;
  border: 1px solid var(--color-black);
  color: var(--color-black);
  background-color: inherit;
}
.form-search-input {
  position: relative;
  padding-top: 40px;
}
.search-btn {
  position: absolute;
  background-color: inherit;
  top: 60%;
  right: 4%;
}
.nav-exercise {
  display: flex;
  column-gap: 20px;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 28px;
  margin-top: 14px;
}
.nav-exercise-btn {
  color: var(--color-not-active);
  background-color: inherit;
  position: relative;
}

.current {
  color: var(--color-black);
}
.current::after {
  content: '';
  width: 86%;
  background-color: var(--color-black);
  height: 4px;
  position: absolute;
  bottom: -8px;
  left: 6%;
  border-radius: 2px;
}
/* ================== CARDS EXERCISES ======================================== */
.list-all-cards {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.ex-card-item {
  position: relative;
  cursor: pointer;
}
.ex-card-text-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  background: linear-gradient(
    0deg,
    rgba(17, 17, 17, 0.5) 0%,
    rgba(17, 17, 17, 0.5) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ex-card-img {
  border-radius: 12px;
  z-index: 4;
  object-fit: cover;
  display: block;
  height: 225px;
  width: 335px;
}
.ex-card-title {
  color: var(--color-white);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Neue Montreal;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;
}
.ex-card-filter {
  color: var(--color-text-card);
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 12px;
  line-height: 1.5;
}
/* ======================================================================================= */
/* =========================== QUOTE OF THE DAY ========================================== */
.quote-section {
  padding-top: 80px;
  padding-bottom: 80px;
}
.running-icon {
  fill: grey;
}
.wrapper {
  background-color: var(--color-black);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  column-gap: 18px;
  position: relative;
  margin-bottom: 20px;
}
.quote-title {
  color: var(--color-white);
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 6px;
}
.author,
.quote-text {
  color: var(--color-quote-text);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
}
.author {
  color: var(--color-white);
  margin-top: 16px;
}
.inverted-icon {
  position: absolute;
  right: 5%;
}
.quote-image {
  border-radius: 20px;
  margin-bottom: 20px;
}
.gym-icon {
  fill: var(--color-white);
  background-color: var(--color-black);
}
.gym-icon-container {
  padding: 6px;
  background-color: var(--color-black);
  max-width: 32px;
  max-height: 32px;
  border-radius: 80px;
}
.time {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 4px;
}
.text-block-text {
  color: var(--color-not-active);
  margin-bottom: 16px;
}
.text-block-second {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  max-height: 105px;
  overflow-y: scroll;
}
.wrapper-quote {
  display: flex;
  column-gap: 18px;
  padding: 20px;
  background-color: var(--color-megawhite);
  border-radius: 20px;
}
/* =========================================================================================================================== */
/* =================================================================================================================================== */
/*================================================ FOOTER ==================================================== */
.footer {
  padding-bottom: 20px;
  padding-top: 40px;
  background-color: var(--color-black);
}
.footer-logo {
  fill: var(--color-white);
}
.footer-upper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: flex-start;
  margin-bottom: 40px;
}
.footer-title {
  color: var(--color-white);
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}
.footer-subscribe-text {
  color: var(--color-white);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  margin-bottom: 20px;
}
.footer-input {
  background-color: inherit;
  padding: 12px 14px;
  width: 100%;
  border-radius: 30px;
  border: 1px solid var(--color-white);
}
.footer-subscribe-btn {
  padding: 12px 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  background-color: var(--color-white);
  color: var(--color-black);
}
.subscribe-form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
}
.footer-second-part {
  color: var(--color-footer);
  margin-top: 100px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;
}
.footer-text-one {
  margin-bottom: 10px;
}
.privacy-policy {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* ============================================================================================= */
/* ===================================================================================================== */
/*============================================= FAVORITES PAGE =========================================*/
.section-favorites {
  padding-top: 40px;
}
.favorites-title {
  color: var(--color-black);
  font-size: 26px;
  font-weight: 400;
  line-height: 1.35;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}
.favorites-wrapper-quote {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 15px;
  padding: 20px;
}
.favorites-icon-container {
  fill: var(--color-white);
}
.favorites-icon-container {
  background-color: var(--color-white);
}
.favorites-image-container {
  margin-top: 20px;
}
.favorites-image {
  border-radius: 20px;
}
.text-no-favorites {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  color: var(--color-black);
  text-align: center;
  margin-top: 40px;
  max-width: 318px;
}
/* ======================================================================================================= */
/* ============================================================================================================ */
.tui-first,
.tui-prev,
.tui-next,
.tui-last {
  display: none;
}

.tui-pagination {
  color: var(--color-black);
  margin-top: 20px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
.tui-page-btn {
  color: var(--color-pagination);
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.8px;
}
.tui-is-selected {
  color: var(--color-black);
  width: 31px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-black);
  border-radius: 80px;
}
.badge-text {
  color: var(--color-black);
  font-size: 12px;
  font-weight: 500;
}
.badge {
  padding: 5px 12px;
  border: 1px solid var(--color-black);
  max-width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.exercise-card {
  background-color: var(--color-megawhite);
  padding: 16px;
  border-radius: 15px;
}
.exercise-card-rating {
  display: flex;
  align-items: center;
  column-gap: 2px;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}
.first-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 27px;
}
.start-btn-icon {
  stroke: var(--color-black);
  transition: all 600ms ease-in-out;
  
}
.start-btn {
  background-color: inherit;
  display: flex;
  align-items: center;
  column-gap: 8px;
  color: var(--color-black);
  transition: all 600ms ease-in-out;
}

.second-part {
  display: flex;
  align-items: center;
  column-gap: 16px;
  margin-bottom: 18px;
}
.exercise-name {
  text-transform: capitalize;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
}
.text-card {
  color: rgba(36, 36, 36, 0.4);
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}
.value-card {
  color: var(--color-black);
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: capitalize;
}
.third-part {
  display: flex;
  align-items: center;
  column-gap: 10px;
  width: 100%;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}
.exercise-section-title-span {
  text-transform: capitalize;
}
/* ======================================================================================= */
/* ===================== CARD DETAILS CSS ================================================ */
.ex-details-backdrop {
  position: fixed;
  z-index: 14;
  background: rgba(4, 4, 4, 0.4);
  min-width: 100vw;
  min-height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
}

.ex-details-modal {
  max-width: 335px;
  background-color: var(--color-black);
  border-radius: 20px;
  padding: 14px 20px 40px 20px;
  position: absolute;
  z-index: 15;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ex-details-close {
  background-color: inherit;
  border: none;
  transition: all 600ms ease-in-out;
  margin-right: -14px;
}
.ex-details-close:hover,
.ex-details-close:focus {
  transform: scale(1.2);
}

.trash-icon,
.heart-icon {
  fill: var(--color-white);
  stroke: var(--color-black);
  transition: all 600ms ease-in-out;
}
.remove-from-favorites-btn,
.add-favorites-btn {
  background-color: var(--color-white);
  color: var(--color-black);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  border-radius: 30px;
  border: 1px solid var(--color-white);
  transition: all 600ms ease-in-out;
  height: 42px;
  width: 167px;
}
.remove-from-favorites-btn:hover,
.remove-from-favorites-btn:focus,
.add-favorites-btn:hover,
.add-favorites-btn:focus {
  background-color: var(--color-black);
  border-color: var(--color-white);
  color: var(--color-white);
}

.add-favorites-btn:focus .heart-icon,
.add-favorites-btn:hover .heart-icon,
.remove-from-favorites-btn:focus .trash-icon,
.remove-from-favorites-btn:hover .trash-icon {
  fill: var(--color-black);
  stroke: var(--color-white);
}
.close-ex-details-card-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.give-rating-btn {
  background-color: inherit;
  border: 1px solid var(--color-white);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  transition: all 600ms ease-in-out;
  height: 42px;
  width: 122px;
}
.give-rating-btn:hover,
.give-rating-btn:focus {
  background-color: var(--color-white);
  color: var(--color-black);
  border-color: var(--color-black);
}
.ex-details-buttons {
  display: flex;
  align-items: center;
  column-gap: 6px;
  justify-content: center;
}
.main-modal-img {
  border-radius: 12px;
}

.modal-header {
  color: var(--color-white);
  text-transform: capitalize;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Neue Montreal;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  margin-top: 20px;
  margin-bottom: 10px;
}
.info-item, 
.rating__value {
    color: var(--color-white);
    font-size: 12px;
    padding: 0 10px 0 0;
  }

.rating {
  display: flex;
  align-items: center;
  column-gap: 4px;
}
.form-item-rating {
  width: 100%;
  border-bottom: 1px solid rgba(244, 244, 244, 0.20);
  padding-bottom: 20px;
}
.info-item {
  color: var(--color-text-card);
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  align-items: flex-start;
}
.character {
  color: var(--color-white);
  font-weight: 500;
  line-height: 1.28;
  font-size: 14px;
  text-transform: capitalize;
}
.info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 8px 0px;
  border-bottom: 1px solid rgba(244, 244, 244, 0.20);
}
.text-info {
  color: var(--color-text-card);
  padding: 20px 0px 40px 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: '★★★★★';
  display: block;
  font-size: 14px;
  color: rgba(244, 244, 244, 0.2);
}

.rating__active {
  position: absolute;
  width: 75%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: '★★★★★';
  position: absolute;
  font-size: inherit;
  font-size: 14px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #eea10c;
}

.rating__items {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
} 

.rating__item {
  flex: 0 0 20%;
  height: 100%;
  opacity: 0;
  font-size: 12px;
} 
/* ============================================================================================== */
.button-close-f {
  position: absolute;
  top: 14px;
  right: 14px;
  fill: var(--color-white);
  padding-bottom: 2px;
  background-color: rgba(0, 0, 0, 0);
  stroke: var(--color-white);
  border: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.button-close {
  position: absolute;
  top: 14px;
  right: 14px;
  fill: var(--color-white);
  padding-bottom: 2px;
  background-color: var(--color-black);
  stroke: var(--color-white);
  border: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.text-rating-star {
  color: rgba(244, 244, 244, 0.4);
  font-family: 'Neue Montreal';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}
.rating__value-f {
  margin-top: 8px;
  color: #f4f4f4;
  font-family: 'Neue Montreal';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}
.email-rating-form {
  margin-top: 20px;
  border-radius: 30px;
  border: 1px solid #f4f4f4;
  background-color: inherit;
  padding: 12px 14px;
}
.textarea-rating-form {
  margin-top: 10px;
  border-radius: 15px;
  border: 1px solid #f4f4f4;
  background-color: inherit;
  padding: 12px 14px;
}

.email-rating-form::placeholder,
.textarea-rating-form::placeholder {
  color: rgba(244, 244, 244, 0.6);
  font-family: 'Neue Montreal';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
}
.button-rating-form {
  margin-top: 20px;
  max-width: 350px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 30px;
  background-color: var(--main-white-text);
  border: 1px solid var(--main-white-text);
  color: var(--main-dark);
  font-size: 14px;
  line-height: 1.28;
  transition: background-color 0.3s linear, color 0.3s linear;
}
.backdrop-rating {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 60;
  background-color: rgba(46, 47, 66, 0.4);
  overflow-y: auto;
}

.rating-form {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-black);
  max-width: 430px;
  border-radius: 20px;
  padding: 40px 20px;
  margin-top: 20px;
  left: 50%;
  transform: translate(-50%);
  overflow-y: auto;
  z-index: 61;
}

.button-close-f {
  position: absolute;
  top: 14px;
  right: 14px;
  fill: var(--color-white);
  padding-bottom: 2px;
  background-color: rgba(0, 0, 0, 0);
  stroke: var(--color-white);
  border: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.text-rating-star {
  color: rgba(244, 244, 244, 0.4);
  font-family: 'Neue Montreal';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

.rating__value-f {
  margin-top: 8px;
  color: var(--color-white);
  font-family: 'Neue Montreal';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

.email-rating-form {
  margin-top: 20px;
  border-radius: 30px;
  border: 1px solid var(--color-white);
  background-color: inherit;
  padding: 12px 14px;
  color: var(--color-text-card);
  outline: none;
  transition: all 600ms ease-in-out;
}

.textarea-rating-form {
  margin-top: 10px;
  border-radius: 15px;
  border: 1px solid var(--color-white);
  outline: none;
  background-color: inherit;
  padding: 12px 14px;
  color: var(--color-text-card);
  max-height: 93px;
  max-width: 100%;
  transition: all 600ms ease-in-out;
}

.email-rating-form:focus,
.textarea-rating-form:focus {
  border-color: aqua;
  outline-color: aqua;
}

.email-rating-form::placeholder,
.textarea-rating-form::placeholder {
  color: var(--color-text-card);
  font-family: 'Neue Montreal';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
}

.button-rating-form {
  margin-top: 20px;
  min-width: 295px;
  max-width: 350px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 30px;
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
  color: var(--color-black);
  font-size: 14px;
  line-height: 1.28;
  transition: all 600ms ease-in-out;
  width: 100%;
}

.button-rating-form:active,
.button-rating-form:hover {
  background-color: inherit;
  border: 1px solid #f4f4f4;
  color: #f4f4f4;

  background-color: inherit;
  border: 1px solid #f4f4f4;
  color: #f4f4f4;
}

/* rating-stars */
.rating-f {
  display: flex;
  align-items: baseline;
  font-size: 12px;
  line-height: 0.85;
  gap: 4px;
  display: flex;
  align-items: baseline;
  font-size: 12px;
  line-height: 0.85;
  gap: 4px;
}

.rating__body-f {
  position: relative;
}

.rating__body-f::before {
  content: '★★★★★';
  display: block;
  font-size: 12px;
  color: rgba(244, 244, 244, 0.2);
  transform: scale(1.060);
}

.rating__active-f {
  position: absolute;
  width: 75%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active-f::before {
  content: '★★★★★';
  position: absolute;
  font-size: inherit;
  transform: scale(1.06);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #eea10c;
}

.rating__items-f {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item-f {
  flex: 0 0 20%;
  height: 100%;
  opacity: 0;
  font-size: 12px;
}

/* ------ for mobile-------- */

@media (min-width: 375px) {
}

/* ------ for laptop -------- */
@media (min-width: 768px) {
  .button-rating-form {
    font-size: 16px;
  }
  .email-rating-form::placeholder,
  .textarea-rating-form::placeholder {
    font-size: 16px;
  }
  .rating-form {
    padding: 40px;
  }
}

/* ------ for PC-------- */
@media (min-width: 1440px) {
  .rating-form {
    margin-top: 150px;
  }
}

@media (min-width: 375px) {
}

/* ------ for laptop -------- */
@media (min-width: 768px) {
  .button-rating-form {
    font-size: 16px;
    min-width: 350px;
  }

  .email-rating-form::placeholder,
  .textarea-rating-form::placeholder {
    font-size: 16px;
  }

  .rating-form {
    padding: 40px;
    margin-top: 40px;
  }
}

/* ------ for PC-------- */
@media (min-width: 1440px) {
  .rating-form {
    margin-top: 150px;
  }
}